name: Deploy WASM Build on GitHub Pages

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Conan
      uses: conan-io/setup-conan@v3

    - name: Build project
      run: |
        mkdir build
        cd build
        conan install .. --build=missing -s build_type=Release -pr ../web/conan_profile
        source ./Release/generators/conanbuild.sh
        cmake .. -DCMAKE_TOOLCHAIN_FILE=Release/generators/conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release
        cmake --build .

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifact
      uses: actions/download-pages-artifact@v3
      with:
        path: build

    - name: Cleanup build files
      run: |
        cd build
        find . -type f ! -name 'index.html' ! -name 'OrbitSimulation.wasm' ! -name 'OrbitSimulation.js' ! -name 'OrbitSimulation.data' -delete
        find . -type d -empty -delete

    - name: Deploy to target repo Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.PAT }}
        publish_dir: ./build
        external_repository: the-wiggler/the-wiggler.github.io
        publish_branch: main
        force_orphan: true
